################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CutImageSolution/.vs
/CutImageSolution/CutImage/obj


/WpfAnimationWeChat/WpfAnimationWeChat/WpfAnimationWeChat/obj
/WpfAnimationWeChat/WpfAnimationWeChat/.vs

/WPFBingMap/WpfBingMap/WpfBingMap/obj
/WPFBingMap/WpfBingMap/.vs

/WPFCheckCode/WpfCodeImage/WpfCodeImage/obj
/WPFCheckCode/WpfCodeImage/.vs

/3DAnimationNavigationBar/3DAnimationNavigationBar/3DAnimationNavigationBar/obj
/3DAnimationNavigationBar/3DAnimationNavigationBar/.vs