################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/WPFDevelopers/bin
/src/WPFDevelopers/obj
/src/WPFDevelopers.Samples/bin
/src/WPFDevelopers.Samples/obj
/src/.vs

/OutPut/WPFDevelopers.pdb
/OutPut/WPFDevelopers.Samples.pdb
/src/Microsoft.Windows.Shell/obj
